---
layout: default
title: <a href="/"><u>L</u>anding</a> > <a href="/other.html"><u>O</u>ther</a> > <b>Gaming</b>
permalink: /other/gaming
---
<table>
<tr>
  <td style="padding:0px;">
    Add me <i>!!</i><br>
    <b>Honkai</b> UID: 104667697<br>
    <b>Punishing Gray Raven</b> UID: 15772085<br>
    Both NA server<br><br>
  </td>
  <td style="vertical-align:text-top;">
    <img src="/images/hua_sticker.png" width="115px" style="margin-left:10px;">
  </td>
</tr>
</table><br>
{% for post in site.posts %}
{% if post.categories contains "gaming" %}
<article>
  <h3>
      {{ post.title }}
  </h3>
  <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date_to_long_string }}</time>
  {{ post.content }}
</article>
{% endif %}
{% endfor %}