@font-face {
  font-family: 'Mx437 IBM VGA 9x16';
  src: url('/font/Mx437_IBM_VGA_9x16.woff2') format('woff2'), url('/font/Mx437_IBM_VGA_9x16.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: 'Mx437 IBM VGA 9x16';
  background-image: url("/images/background.png");
}
#content {
  line-height: 1.5;
}
.headerSpacing {
  margin-top: 2.5px;
  margin-bottom: 2.5px;
}
table {
  border-collapse: collapse;
}
th {
  border: 0px;
  text-align: left;
  padding: 5px;
}
td {
  border: 0px;
  padding: 5px;
}
.navIC {
  margin-right: 3px;
}
a {color: white; text-decoration: none;} a:hover {color: white; text-decoration: underline;}
.trNav:hover {background-color: #555f2e;}
.folderCat:hover {
  cursor: pointer;
}
.abacus {
  margin-top: 5px;
  margin-bottom: 5px;
}
@keyframes titleWiggle {
  from {content: url("/images/title.png");}
  to {content: url("/images/title2.png");}
}
#title {
  animation-name: titleWiggle;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.flex-container {
  display: flex;
  height: 720px;
  flex-direction: row;
}
.artwork {
  position: absolute;
  animation: fade 16s infinite;
}
#seeMoreArt {
  margin-top: 190px;
}
#img1 {
  animation-delay: 0s;
}
#img2 {
  animation-delay: 4s;
}
#img3 {
  animation-delay: 8s;
}
#img4 {
  animation-delay: 12s;
}
@keyframes fade {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  34% {
    opacity: 0;
  }
  88% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes stampDark {
  0% {content: url("/images/frames/stamp1_d.png");}
  20% {content: url("/images/frames/stamp2_d.png");}
  40% {content: url("/images/frames/stamp3_d.png");}
  60% {content: url("/images/frames/stamp4_d.png");}
  80% {content: url("/images/frames/stamp5_d.png");}
}
#stampDark {
  animation-name: stampDark;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}
@keyframes stampLight {
  0% {content: url("/images/frames/stamp1_l.png");}
  20% {content: url("/images/frames/stamp2_l.png");}
  40% {content: url("/images/frames/stamp3_l.png");}
  60% {content: url("/images/frames/stamp4_l.png");}
  80% {content: url("/images/frames/stamp5_l.png");}
}
#stampLight {
  animation-name: stampLight;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}
@media (max-width: 1010px) {
  /*.flex-container {
    flex-direction: column;
  }*/
  .flex-left {
    width: 200px;
    /*margin-left: auto;
    margin-right: auto;*/
  }
  .flex-middle {
    width: 600px;
    /*margin-left: auto;
    margin-right: auto;*/
  }
  .flex-right {
    width: 200px;
    /*margin-left: auto;
    margin-right: auto;*/
  }
}