@font-face {
  font-family: 'Mx437 IBM VGA 9x16';
  src: url('/font/Mx437_IBM_VGA_9x16.woff2') format('woff2'), url('/font/Mx437_IBM_VGA_9x16.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: 'Mx437 IBM VGA 9x16';
  background-image: url("/images/background2.png");
}
th {
  border: 0px;
  text-align: left;
  padding: 5px;
}
td {
  border: 0px;
  padding: 5px;
}
.navIC {
  margin-right: 3px;
  position: relative;
}
a {color: white;} a:hover {color: white;}
.trNav:hover {background-color: #555f2e;}
.abacus {
  margin-top: 5px;
  margin-bottom: 5px;
}
@keyframes titleWiggle {
  from {content: url("/images/title.png");}
  to {content: url("/images/title2.png");
  height: 56.25px;}
}
#title {
  animation-name: titleWiggle;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}