<div style="width:100%;color:white;">
    {% if page.url == "/misc/web-stuff" %}
        <div class="trNavMin"><img src="/images/folderIcon_hover.png" class="navIC" width="26.4px">Miscellaneous</div>
        <!--<div class="trNavMin">&emsp;⤷<img src="/images/fileIcon.png" class="navIC" id="gamingF" width="20px"><a href="/misc/gaming.html" class="navLink" id="gaming" onmouseover="navHovers(id)" onmouseout="fileDefault(id)"><u>G</u>aming</a></div>-->
        <div class="trNavMin">&emsp;⤷<img src="/images/fileIcon.png" class="navIC" id="webStuffF" width="20px"><a href="/misc/web-stuff.html" class="navLink" id="webStuff" onmouseover="navHovers(id)" onmouseout="fileDefault(id)"><u>W</u>eb stuff</a></div>
        <div class="trNavMin">&emsp;⤷<img src="/images/fileIcon.png" class="navIC" id="memesF" width="20px"><a href="/misc/memes.html" class="navLink" id="memes" onmouseover="navHovers(id)" onmouseout="fileDefault(id)"><u>M</u>emes</a></div>
    {% endif %}
    {% if page.url == "/misc/memes" %}
    <div class="trNavMin"><img src="/images/folderIcon_hover.png" class="navIC" width="26.4px">Miscellaneous</div>
    <!--<div class="trNavMin">&emsp;⤷<img src="/images/fileIcon.png" class="navIC" id="gamingF" width="20px"><a href="/misc/gaming.html" class="navLink" id="gaming" onmouseover="navHovers(id)" onmouseout="fileDefault(id)"><u>G</u>aming</a></div>-->
    <div class="trNavMin">&emsp;⤷<img src="/images/fileIcon.png" class="navIC" id="webStuffF" width="20px"><a href="/misc/web-stuff.html" class="navLink" id="webStuff" onmouseover="navHovers(id)" onmouseout="fileDefault(id)"><u>W</u>eb stuff</a></div>
    <div class="trNavMin">&emsp;⤷<img src="/images/fileIcon.png" class="navIC" id="memesF" width="20px"><a href="/misc/memes.html" class="navLink" id="memes" onmouseover="navHovers(id)" onmouseout="fileDefault(id)"><u>M</u>emes</a></div>
{% endif %}
</div>