---
layout: default
title: <a href="/"><u>L</u>anding</a> > <a href="/blog"><u>B</u>log</a> > <b>Assembly language</b>
permalink: /blog/assembly-language
---
<b>NOTE:</b> I have some assembly language notes I need to reformat and publish!! Be patient thank you everyone
<br><br>There are no posts in this category.
{% for post in site.posts %}
{% if post.categories contains "assemblyLanguage" %}
<article>
  <h3>
      {{ post.title }}
  </h3>
  <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date_to_long_string }}</time>
  {{ post.content }}
</article>
{% endif %}
{% endfor %}