<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>project c190</title>
  <link rel="icon" href="/images/test.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="/default.css">
  
  <script type="text/javascript" async>
    var menuOpened = "null";
    var openMenu = function(id) {
      var items;
      var iconID;
      if (menuOpened == "null") {
        items = document.getElementsByClassName(id);
        for (var i = 0; i < items.length; i++) { 
          items[i].hidden = false;
        }
        iconID = id.concat("F");
        document.getElementById(iconID).src = "/images/folderIcon_hover.png";
        menuOpened = id;
      } else if (menuOpened == id) {
        items = document.getElementsByClassName(id);
        for (var i = 0; i < items.length; i++) { 
          items[i].hidden = true;
        }
        iconID = id.concat("F");
        document.getElementById(iconID).src = "/images/folderIcon.png";
        menuOpened = "null";
      } else if (menuOpened != "null" && menuOpened != id) {
        if (id == "blog") {
          items = document.getElementsByClassName("miscellaneous");
          for (var i = 0; i < items.length; i++) { 
            items[i].hidden = true;
          }
          items = document.getElementsByClassName(id);
          for (var i = 0; i < items.length; i++) { 
            items[i].hidden = false;
          }
          iconID = id.concat("F");
          document.getElementById(iconID).src = "/images/folderIcon_hover.png";
          document.getElementById("miscellaneousF").src = "/images/folderIcon.png";
          menuOpened = id;
        } else {
          items = document.getElementsByClassName("blog");
          for (var i = 0; i < items.length; i++) { 
            items[i].hidden = true;
          }
          items = document.getElementsByClassName(id);
          for (var i = 0; i < items.length; i++) { 
            items[i].hidden = false;
          }
          iconID = id.concat("F");
          document.getElementById(iconID).src = "/images/folderIcon_hover.png";
          document.getElementById("blogF").src = "/images/folderIcon.png";
          menuOpened = id;
        }
      }
    }
    var fileDefault = function(id) {
      repID = id.concat("F");
      document.getElementById(repID).src = "/images/fileIcon.png";
    }
    var folderDefault = function(id) {
      if (id != menuOpened) {
        repID = id.concat("F");
        document.getElementById(repID).src = "/images/folderIcon.png";
      }
    }
    var navHovers = function(id) {
      repID = id.concat("F");
      repImage = document.getElementById(repID).src;
      repImage = repImage.replace(".png", "_hover.png");
      document.getElementById(repID).src = repImage;
    }
    var navHoversAlt = function(id) {
      if (id != menuOpened) {
        repID = id.concat("F");
        document.getElementById(repID).src = "/images/folderIcon_hover.png";
      }
    }
  </script>
</head>

<body>
  <table style="width:100%;max-width:1010px;margin-right:auto;margin-left:auto;">
    <tr height="1%">
      <th style="text-align:center;"><a href="/"><img src="/images/title.png" width="400px" id="title" style="padding-top:15px; margin-bottom:10px;"></a></th>
    </tr>
    <tr><td>
      <div class="flex-container" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <div class="flex-left" style="flex-basis: 200px;">
          <table style="height:100%;width:100%;margin-right:auto;margin-left:auto;">
            <tr height="1%">
              <td style="color:white;background-color:#545e2d;" id="navTitle"><b>Navigation</b></td>
            </tr>
            <tr style="vertical-align:top;">
              <td style="background-color:#616e32;" id="navMenu">
                <table style="width:100%;color:white;">
                  <tr class="trNav"><td><img src="/images/fileIcon.png" class="navIC" id="landingF" width="20px"><a href="/" class="navLink" id="landing" onmouseover="navHovers(id)" onmouseout="fileDefault(id)"><u>L</u>anding</a></td></tr>
                  <tr class="trNav"><td><img src="/images/fileIcon.png" class="navIC" id="aboutF" width="20px"><a href="/about.html" class="navLink" id="about" onmouseover="navHovers(id)" onmouseout="fileDefault(id)"><u>A</u>bout</a></td></tr>
                  <tr class="trNav"><td><img src="/images/folderIcon.png" class="navIC" id="blogF" width="26.4px"><span id="blog" onmouseover="navHoversAlt(id)" onmouseout="folderDefault(id)" onclick="openMenu(id)"><u>B</u>log</span></td></tr>
                  <tr class="blog" hidden="true"><td>&emsp;⤷<img src="/images/fileIcon.png" class="navIC" id="projectLogF" width="20px"><a href="/blog/project-log.html" class="navLink" id="projectLog" onmouseover="navHovers(id)" onmouseout="fileDefault(id)"><u>P</u>roject log</a></td></tr>
                  <tr class="blog" hidden="true"><td>&emsp;⤷<img src="/images/fileIcon.png" class="navIC" id="sketchbookF" width="20px"><a href="/blog/sketchbook.html" class="navLink" id="sketchbook" onmouseover="navHovers(id)" onmouseout="fileDefault(id)"><u>S</u>ketchbook</a></td></tr>
                  <tr class="blog" hidden="true"><td>&emsp;⤷<img src="/images/fileIcon.png" class="navIC" id="readingLogF" width="20px"><a href="/blog/reading-log.html" class="navLink" id="readingLog" onmouseover="navHovers(id)" onmouseout="fileDefault(id)"><u>R</u>eading log</a></td></tr>
                  <tr class="blog" hidden="true"><td>&emsp;⤷<img src="/images/fileIcon.png" class="navIC" id="otherF" width="20px"><a href="/blog/other.html" class="navLink" id="other" onmouseover="navHovers(id)" onmouseout="fileDefault(id)"><u>O</u>ther</a></td></tr>
                  <tr class="trNav"><td><img src="/images/folderIcon_hover.png" class="navIC" width="26.4px">Portfolio</td></tr>
                  <tr class="trNav"><td>&emsp;⤷<img src="/images/folderIcon.png" class="navIC" id="drawingsF" width="26.4px"><a href="/drawings.html" class="navLink" id="drawings" onmouseover="navHovers(id)" onmouseout="folderDefault(id)"><u>D</u>rawings</a></td></tr>
                  <tr class="trNav"><td>&emsp;⤷<img src="/images/folderIcon.png" class="navIC" id="gadgetsF" width="26.4px"><a href="/gadgets.html" class="navLink" id="gadgets" onmouseover="navHovers(id)" onmouseout="folderDefault(id)"><u>G</u>adgets</a></td></tr>
                  <tr class="trNav"><td><img src="/images/folderIcon.png" class="navIC" id="miscellaneousF" width="26.4px"><span id="miscellaneous" onmouseover="navHoversAlt(id)" onmouseout="folderDefault(id)" onclick="openMenu(id)"><u>M</u>iscellaneous</span></td></tr>
                  <tr class="miscellaneous" hidden="true"><td>&emsp;⤷<img src="/images/fileIcon.png" class="navIC" id="linksF" width="20px"><a href="/miscellaneous/outlinks.html" class="navLink" id="links" onmouseover="navHovers(id)" onmouseout="fileDefault(id)"><u>O</u>utlinks</a></td></tr>
                  <tr class="miscellaneous" hidden="true"><td>&emsp;⤷<img src="/images/fileIcon.png" class="navIC" id="gamingF" width="20px"><a href="/miscellaneous/gaming.html" class="navLink" id="gaming" onmouseover="navHovers(id)" onmouseout="fileDefault(id)"><u>G</u>aming</a></td></tr>
                  <tr class="miscellaneous" hidden="true"><td>&emsp;⤷<img src="/images/fileIcon.png" class="navIC" id="digitalPetsF" width="20px"><a href="/miscellaneous/digital-pets.html" class="navLink" id="digitalPets" onmouseover="navHovers(id)" onmouseout="fileDefault(id)"><u>D</u>igital pets</a></td></tr>
                  <tr class="miscellaneous" hidden="true"><td>&emsp;⤷<img src="/images/fileIcon.png" class="navIC" id="webStuffF" width="20px"><a href="/miscellaneous/web-stuff.html" class="navLink" id="webStuff" onmouseover="navHovers(id)" onmouseout="fileDefault(id)"><u>W</u>eb stuff</a></td></tr>
                </table>
              </td>
            </tr>
            <tr height="1%">
              <td style="color:white;background-color:#545e2d;">Stamps</td>
            </tr>
            <tr style="vertical-align:top;">
              <td style="color:white;background-color:#616e32;">
                <marquee direction="right" onmouseover="this.setAttribute('scrollamount',0);" onmouseout="this.setAttribute('scrollamount',5);">
                  <img src="/images/stamps/i_heart_birds.png">
                  <img src="/images/stamps/5w6.png">
                  <img src="/images/stamps/mspaint_fan.png">
                  <img src="/images/stamps/puterheart.png">
                </marquee>
                <br><div style="display:flex;justify-content:right;"><a href="/miscellaneous/web-stuff.html"><u>S</u>ee more</a></div>
              </td>
            </tr>
            <tr height="1%">
              <td style="color:white;background-color:#545e2d;">Status</td>
            </tr>
            <tr style="height:100%;vertical-align:top;">
              <td style="color:white;background-color:#616e32;">
                📚 <i>Busy with school</i>
                <br>> <a href="/ongoing.txt" target="_blank"><u>O</u>ngoing projects</a>
              </td>
            </tr>
          </table>
        </div>

        <div class="flex-middle" style="flex-basis: 600px;">
          <table style="height:100%;width:100%;margin-right:auto;margin-left:auto;">
            <tr height="1%">
              <td style="color:white;background-color:#293016;">{{ page.title }}</td>
            </tr>
            <tr>
              <td style="color:white;background-color:#464927;vertical-align:top;"><div style="overflow-x:hidden;overflow-y:auto;height:670px;">{{ content }}</div></td>
            </tr>
          </table>
        </div>

        <div class="flex-right" style="flex-basis: 200px;">
          <table style="height:100%;width:100%;margin-right:auto;margin-left:auto;">
            <tr height="1%">
              <td style="color:white;background-color:#545e2d;">Artwork</td>
            </tr>
            <tr style="vertical-align:top;">
              <td style="color:white;background-color:#616e32;">

                <div style="display:flex;justify-content:center;">
                  <div class="artwork" id="img4"><img src="/images/drawings/small_pink_flower.png" width="190px"></div>
                  <div class="artwork" id="img3"><img src="/images/drawing_thumbnails/large_pink_flower.png" width="190px"></div>
                  <div class="artwork" id="img2"><img src="/images/drawing_thumbnails/turing_mspaint.png" width="190px"></div>
                  <div class="artwork" id="img1"><img src="/images/drawing_thumbnails/bird_mspaint.png" width="190px"></div>
                </div>

                <div style="display:flex;justify-content:right;"><a href="/drawings.html" id="seeMoreArt"><u>S</u>ee more</a></div>
              </td>
            </tr>
            <tr height="1%">
              <td style="color:white;background-color:#545e2d;">Favorites</td>
            </tr>
            <tr style="vertical-align:top;">
              <td style="color:white;background-color:#616e32;">
                <a href="/miscellaneous/gaming.html"><img src="/images/flamescion_kiana.png" width="190px" style="margin-bottom:10px;"></a>
                <script>(function(d, s, id) { var js, pjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//www.tickcounter.com/static/js/loader.js"; pjs.parentNode.insertBefore(js, pjs); }(document, "script", "tickcounter-sdk"));</script><a data-type="countup" data-id="314371" class="tickcounter" style="display:block; left:0; width:185px; height:30px; position:relative; padding-bottom:0; margin:0 auto;" title="Days with Flamescion Kiana" href="//www.tickcounter.com/countup" target="_blank">Days with Flamescion Kiana</a>
              </td>
            </tr>
            <tr height="1%">
              <td style="color:white;background-color:#545e2d;">Guestbook</td>
            </tr>
            <tr style="height:100%;vertical-align:top;">
              <td style="color:white;background-color:#616e32;"><a href="https://abacist.123guestbook.com"><u>L</u>eave a message ?</a></td>
            </tr>
          </table>
        </div>
      </div>
    </td></tr>

    <tr>
      <td colspan="3" height="5%" style="text-align:center;vertical-align:bottom;" id="bottomText">project c190 © 2022-2023</td>
    </tr>
  </table>
</body>

</html>