<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>project c190</title>
  <link rel="icon" href="/images/test.png">
  <link rel="stylesheet" href="/default.css">
  
  <style>
    @media (max-width: 600px) {
      .flex-top {
        width: 600px;
      }
      .flex-middle {
        width: 600px;
        height:1566px;
      }
      .flex-bottom {
        width: 600px;
      }
      .main {
        width: 600px;
        height: 200px;
        flex-direction: column;
      }
      .flex-left {
        width: 600px;
        margin-left: auto;
        margin-right: auto;
      }
      .flex-middle {
        width: 600px;
        margin-left: auto;
        margin-right: auto;
      }
      .flex-right {
        width: 600px;
        margin-left: auto;
        margin-right: auto;
      }
      .center4Mob {
        text-align:center;
      }
      .flexWhenMob {
        display: flex;
        flex-direction: row;
      }
      .navCenter {
        margin-left: 25px;
        margin-right: 30px;
      }
    }
  </style>

  <script type="text/javascript" async>
    var menuOpened = "null";

    var openMenu = function(id) {
      var items;
      var iconID;
      if (menuOpened == "null") {
        items = document.getElementsByClassName(id);
        for (var i = 0; i < items.length; i++) { 
          items[i].hidden = false;
        }
        iconID = id.concat("F");
        document.getElementById(iconID).src = "/images/folderIcon_hover.png";
        menuOpened = id;
      } else if (menuOpened == id) {
        items = document.getElementsByClassName(id);
        for (var i = 0; i < items.length; i++) {
          items[i].hidden = true;
        }
        iconID = id.concat("F");
        document.getElementById(iconID).src = "/images/folderIcon.png";
        menuOpened = "null";
      } else if (menuOpened != "null" && menuOpened != id) {
        if (id == "shrines") {
          items = document.getElementsByClassName("miscellaneous");
          for (var i = 0; i < items.length; i++) { 
            items[i].hidden = true;
          }
          items = document.getElementsByClassName(id);
          for (var i = 0; i < items.length; i++) { 
            items[i].hidden = false;
          }
          iconID = id.concat("F");
          document.getElementById(iconID).src = "/images/folderIcon_hover.png";
          document.getElementById("miscellaneousF").src = "/images/folderIcon.png";
          menuOpened = id;
        } else {
          items = document.getElementsByClassName("shrines");
          for (var i = 0; i < items.length; i++) { 
            items[i].hidden = true;
          }
          items = document.getElementsByClassName(id);
          for (var i = 0; i < items.length; i++) { 
            items[i].hidden = false;
          }
          iconID = id.concat("F");
          document.getElementById(iconID).src = "/images/folderIcon_hover.png";
          document.getElementById("shrinesF").src = "/images/folderIcon.png";
          menuOpened = id;
        }
      }
    }

    var fileDefault = function(id) {
      repID = id.concat("F");
      document.getElementById(repID).src = "/images/fileIcon.png";
    }
    var folderDefault = function(id) {
      if (id != menuOpened) {
        repID = id.concat("F");
        document.getElementById(repID).src = "/images/folderIcon.png";
      }
    }
    var navHovers = function(id) {
      repID = id.concat("F");
      repImage = document.getElementById(repID).src;
      repImage = repImage.replace(".png", "_hover.png");
      document.getElementById(repID).src = repImage;
    }
    var navHoversAlt = function(id) {
      if (id != menuOpened) {
        repID = id.concat("F");
        document.getElementById(repID).src = "/images/folderIcon_hover.png";
      }
    }
  </script>
</head>

<body>
  <div class="flex-container" style="width:100%;max-width:1000px;margin:auto;flex-direction: column;">
      <div class="flex-top header" style="text-align:center;margin-top:25px; margin-bottom:12px;">
        <a href="/"><img src="/images/title.png" width="400px" height="41.25px" id="title"></a>
      </div>

      <div class="flex-middle">
        <div class="main flex-container" style="width:100%;max-width:1000px;margin:auto;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
          <div class="flex-left">
            <table style="height:100%;width:100%;margin:auto;">
              <tr height="1%">
                <td style="color:white;background-color:#545e2d;" id="navTitle"><div class="headerSpacing"><b>Navigation</b></div></td>
              </tr>
              <tr style="vertical-align:top;">
                <td style="background-color:#616e32;color:white;" id="navMenu">
                  <span class="flexWhenMob">
                    <span class="navLeft">
                    <div class="trNav" style="width:100%;"><img src="/images/fileIcon.png" class="navIC" id="landingF" width="20px"><a href="/" class="navLink" id="landing" onmouseover="navHovers(id)" onmouseout="fileDefault(id)"><u>L</u>anding</a></div>
                    <div class="trNav" style="width:100%;"><img src="/images/fileIcon.png" class="navIC" id="aboutF" width="20px"><a href="/about.html" class="navLink" id="about" onmouseover="navHovers(id)" onmouseout="fileDefault(id)"><u>A</u>bout</a></div>
                    <div class="trNav" style="width:100%;"><img src="/images/folderIcon.png" class="navIC" id="blogF" width="26.4px"><a href="/blog.html" class="folderCat" id="blog" onmouseover="navHoversAlt(id)" onmouseout="folderDefault(id)"><u>B</u>log</span></a></div>
                    </span>

                    <span class="navCenter">
                    <div class="trNav"><img src="/images/folderIcon_hover.png" class="navIC" width="26.4px">Portfolio</div>
                    <div class="trNav">&emsp;⤷<img src="/images/fileIcon.png" class="navIC" id="drawingsF" width="20px"><a href="/drawings.html" class="navLink" id="drawings" onmouseover="navHovers(id)" onmouseout="fileDefault(id)"><u>D</u>rawings</a></div>
                    <div class="trNav">&emsp;⤷<img src="/images/fileIcon.png" class="navIC" id="gadgetsF" width="20px"><a href="/gadgets.html" class="navLink" id="gadgets" onmouseover="navHovers(id)" onmouseout="fileDefault(id)"><u>G</u>adgets</a></div>
                    </span>

                    <span class="navRight">
                    <div class="trNav"><img src="/images/folderIcon.png" class="navIC" id="shrinesF" width="26.4px"><span class="folderCat" id="shrines" onmouseover="navHoversAlt(id)" onmouseout="folderDefault(id)" onclick="openMenu(id)"><u>S</u>hrines</span></div>
                    <div class="shrines" hidden="true">&emsp;⤷<img src="/images/fileIcon.png" class="navIC" id="mathF" width="20px"><a href="/shrines/math.html" class="navLink" id="math" onmouseover="navHovers(id)" onmouseout="fileDefault(id)"><u>M</u>athematics</a></div>
                    <div class="trNav"><img src="/images/folderIcon.png" class="navIC" id="miscellaneousF" width="26.4px"><span class="folderCat" id="miscellaneous" onmouseover="navHoversAlt(id)" onmouseout="folderDefault(id)" onclick="openMenu(id)"><u>M</u>iscellaneous</span></div>
                    <div class="trNav miscellaneous" hidden="true">&emsp;⤷<img src="/images/fileIcon.png" class="navIC" id="gamingF" width="20px"><a href="/misc/gaming.html" class="navLink" id="gaming" onmouseover="navHovers(id)" onmouseout="fileDefault(id)"><u>G</u>aming</a></div>
                    <div class="trNav miscellaneous" hidden="true">&emsp;⤷<img src="/images/fileIcon.png" class="navIC" id="webStuffF" width="20px"><a href="/misc/web-stuff.html" class="navLink" id="webStuff" onmouseover="navHovers(id)" onmouseout="fileDefault(id)"><u>W</u>eb stuff</a></div>
                    <div class="trNav miscellaneous" hidden="true">&emsp;⤷<img src="/images/fileIcon.png" class="navIC" id="memesF" width="20px"><a href="/misc/memes.html" class="navLink" id="memes" onmouseover="navHovers(id)" onmouseout="fileDefault(id)"><u>M</u>emes</a></div>
                    <div class="trNav"><img src="/images/fileIcon.png" class="navIC" id="linksF" width="20px"><a href="/outlinks.html" class="navLink" id="links" onmouseover="navHovers(id)" onmouseout="fileDefault(id)"><u>O</u>utlinks</a></div>
                    </span>
                  </span>
                </td>
              </tr>
              <tr height="1%">
                <td style="color:white;background-color:#545e2d;"><div class="headerSpacing"><marquee scrollamount="3">FREE PALESTINE, FREE D.R. CONGO, FREE SUDAN</marquee></div></td>
              </tr>
              <tr style="vertical-align:top;">
                <td style="color:white;background-color:#616e32;">
                  <div class="center4Mob">
                    <a href="https://palipunk.tumblr.com/post/698216767541133313/palestine-masterlist-introduction-to-palestine" target="_blank"><img src="/images/support/palestine.png" width="37px"></a>
                    <a href="https://friendsofthecongo.org/campaigns" target="_blank"><img src="/images/support/congo.png" width="37px"></a>
                    <a href="https://eyesonsudan.net" target="_blank"><img src="/images/support/sudan.png" width="37px"></a>
                  </div>
                </td>
              </tr>
              <tr height="1%">
                <td style="color:white;background-color:#545e2d;"><div class="headerSpacing">Stamps</div></td>
              </tr>
              <tr style="height:100%;vertical-align:top;">
                <td style="color:white;background-color:#616e32;">
                  <marquee scrollamount="3" onmouseover="this.setAttribute('scrollamount',0);" onmouseout="this.setAttribute('scrollamount',3);">
                    <img src="/images/web-stuff/puterheart.png" width="99px" height="56px">
                    <img src="/images/web-stuff/punks_nerds.webp" width="99px" height="56px">
                    <img src="/images/web-stuff/cats_rule.gif" width="99px" height="56px">
                    <img src="/images/web-stuff/boom_nya.png" width="99px" height="56px">
                  </marquee>
                  <br><div style="display:flex;justify-content:right;"><a href="/misc/web-stuff.html"><u>S</u>ee more</a></div>
                </td>
              </tr>
            </table>
          </div>

          <div class="flex-center">
            <table style="height:100%;width:100%;margin:auto;">
              <tr height="1%">
                <td style="color:white;background-color:#293016;"><div class="headerSpacing">{{ page.title }}</div></td>
              </tr>
              <tr>
                <td style="color:white;background-color:#464927;vertical-align:top;"><div style="overflow-x:hidden;overflow-y:auto;height:670px;" id="content">{{ content }}</div></td>
              </tr>
            </table>
          </div>

          <div class="flex-right">
            <table style="height:100%;width:100%;margin:auto;">
              <tr height="1%">
                <td style="color:white;background-color:#545e2d;"><div class="headerSpacing">Artwork</div></td>
              </tr>
              <tr style="vertical-align:top;">
                <td style="color:white;background-color:#616e32;">

                  <div style="display:flex;justify-content:center;">
                    <div class="artwork" id="img4"><img src="/images/drawing_thumbnails/small_pink_flower.jpg" width="190px"></div>
                    <div class="artwork" id="img3"><img src="/images/drawing_thumbnails/large_pink_flower.jpg" width="190px"></div>
                    <div class="artwork" id="img2"><img src="/images/drawing_thumbnails/turing_mspaint.jpg" width="190px"></div>
                    <div class="artwork" id="img1"><img src="/images/drawing_thumbnails/bird_mspaint.jpg" width="190px"></div>
                  </div>

                  <div style="display:flex;justify-content:right;"><a href="/drawings.html" id="seeMoreArt"><u>S</u>ee more</a></div>
                </td>
              </tr>
              <tr height="1%">
                <td style="color:white;background-color:#545e2d;"><div class="headerSpacing">Guestbook</div></td>
              </tr>
              <tr height="1%">
                <td style="color:white;background-color:#616e32;">
                  <div class="center4Mob">
                    <a href="/guestbook.html"><u>L</u>eave a message</a> <img src="/images/puter_kitty_icon.gif" style="vertical-align:bottom;">
                  </div>
                </td>
              </tr>
              <tr height="1%">
                <td style="color:white;background-color:#545e2d;"><div class="headerSpacing">Favorites</div></td>
              </tr>
              <tr style="vertical-align:top;" height="100%">
                <td style="color:white;background-color:#616e32;text-align:center;">
                  <a href="/misc/gaming.html"><img src="/images/flamescion_kiana.png" width="190px" style="margin-bottom:2px;"></a>
                  <br><marquee scrollamount="3">♪ Turn into a shooting star that briefly shines but warms up every heart / May all the beauty be blessed ♫</marquee></span>
                  <!--<script>(function(d, s, id) { var js, pjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//www.tickcounter.com/static/js/loader.js"; pjs.parentNode.insertBefore(js, pjs); }(document, "script", "tickcounter-sdk"));</script><a data-type="countup" data-id="314371" class="tickcounter" style="display:block; left:0; width:185px; height:30px; position:relative; padding-bottom:0; margin:0 auto;" title="Days with Flamescion Kiana" href="//www.tickcounter.com/countup" target="_blank">Days with Flamescion Kiana</a>-->
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div class="flex-bottom footer" style="text-align:center;margin-top:12px;margin-bottom:5px;">
        project c190 © 2022-2024
      </div>
  </div>
</body>

</html>