<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>project c190</title>
  <link rel="icon" href="/images/test.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="/default.css">
  
  <script type="text/javascript" async>
    var fileDefault = function(id) {
      repID = id.concat("F");
      document.getElementById(repID).src = "/images/fileIcon.png";
    }
    var folderDefault = function(id) {
      repID = id.concat("F");
      document.getElementById(repID).src = "/images/folderIcon.png";
    }
    var navHovers = function(id) {
      repID = id.concat("F");
      repImage = document.getElementById(repID).src;
      repImage = repImage.replace(".png", "_hover.png");
      document.getElementById(repID).src = repImage;
    }
  </script>
  <style>
    .flex {
      display: flex;
      justify-content: center;
    }
    .container {
      align-items: stretch;
    }
  </style>
</head>
<body>
<div class="container">
<div class="flex">
  <a href="/"><img src="/images/title.png" width="400px" id="title" style="padding-top:15px; margin-bottom:10px;"></a>
</div>
<div class="flex">
  <div class="item">
<div class="flex">
  <div class="item" style="color:white;background-color:#545e2d;"><b>Navigation</b></div>
  <div class="item" style="color:white;background-color:#616e32;">{% include navigation.html %}</div>
</div>
  </div>
  <div class="item">
    <div class="flex">
      <div class="item" style="color:white;background-color:#293016;">{{ page.title }}</div>
      <div class="item" style="color:white;background-color:#464927;vertical-align:top;">{{ content }}</div>
    </div>
  </div>
</div>
</div>
</body>

</html>