<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>project c190</title>
  <link rel="icon" href="/images/test.png">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="/default.css">
  
  <script type="text/javascript" async>
    var fileDefault = function(id) {
      repID = id.concat("F");
      document.getElementById(repID).src = "/images/fileIcon.png";
    }
    var folderDefault = function(id) {
      repID = id.concat("F");
      document.getElementById(repID).src = "/images/folderIcon.png";
    }
    var navHovers = function(id) {
      repID = id.concat("F");
      repImage = document.getElementById(repID).src;
      repImage = repImage.replace(".png", "_hover.png");
      document.getElementById(repID).src = repImage;
    }
  </script>
</head>

<body>
  <table style="width:100%;max-width:1010px;margin-right:auto;margin-left:auto;">
    <tr height="1%">
      <th style="text-align:center;"><a href="/"><img src="/images/title.png" width="400px" id="title" style="padding-top:15px; margin-bottom:10px;"></a></th>
    </tr>

    <tr><td>
      <div class="flex-container" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <div class="flex-left" style="flex-basis: 200px;">
          <table style="height:100%;width:100%;margin-right:auto;margin-left:auto;">
            <tr height="1%">
              <td style="color:white;background-color:#545e2d;" id="navTitle"><b>Navigation</b></td>
            </tr>
            <tr style="vertical-align:top;">
              <td style="background-color:#616e32;" id="navMenu">
                {% include navigation.html %}
              </td>
            </tr>
            <tr height="1%">
              <td style="color:white;background-color:#545e2d;">Links</td>
            </tr>
            <tr style="vertical-align:top;">
              <td style="color:white;background-color:#616e32;">
                <a href="https://neocities.org/site/project-c190" target="_blank"><img src="/images/neocities.png" class="linkIC" width="25.4px"></a>
                <a href="https://github.com/wangzi190" target="_blank"><img src="/images/github.png" class="linkIC" width="25.5px"></a>
                <a href="https://spacehey.com/abacist" target="_blank"><img src="/images/spacehey.png" class="linkIC" width="26.2px"></a>
              </td>
            </tr>
            <tr height="1%">
              <td style="color:white;background-color:#545e2d;">Stamps</td>
            </tr>
            <tr style="vertical-align:top;">
              <td style="color:white;background-color:#616e32;">
                <marquee direction="right" onmouseover="this.setAttribute('scrollamount',0);" onmouseout="this.setAttribute('scrollamount',5);">
                  <img src="/images/stamps/i_heart_birds.png">
                  <img src="/images/stamps/5w6.png">
                  <img src="/images/stamps/mspaint_fan.png">
                  <img src="/images/stamps/puterheart.png">
                </marquee>
                <br><div style="display:flex;justify-content:right;"><a href="/miscellaneous/stamps-and-blinkies.html"><u>S</u>ee more</a></div>
              </td>
            </tr>
            <!--<tr height="1%">
              <td style="color:white;background-color:#545e2d;">Latest posts</td>
            </tr>
            <tr style="height:100%;vertical-align:top;">
              <td style="color:white;background-color:#616e32;">
                <img src="/images/orang_dot.png" width="12px" style="margin-right:6px"><a href="/blog-miscellaneous/2023/07/03/computer-history-museum.html"><u>C</u>omputer Hist...</a>
                <br><img src="/images/orang_dot.png" width="12px" style="margin-right:6px"><a href="/sketchbook/2023/06/13/bouquet_wip.html"><u>B</u>ouquet progr...</a>
                <br><img src="/images/orang_dot.png" width="12px" style="margin-right:6px"><a href="/projectjournal/2023/05/02/simplifying-circuits.html"><u>S</u>implifying C...</a>
              </td>
            </tr>-->
            <tr height="1%">
              <td style="color:white;background-color:#545e2d;">Status</td>
            </tr>
            <tr style="height:100%;vertical-align:top;">
              <td style="color:white;background-color:#616e32;">
                📚 Busy with school
              </td>
            </tr>
          </table>
        </div>

        <div class="flex-middle" style="flex-basis: 600px;">
          <table style="height:100%;width:100%;margin-right:auto;margin-left:auto;">
            <tr height="1%">
              <td style="color:white;background-color:#293016;">{{ page.title }}</td>
            </tr>
            <tr>
              <td style="color:white;background-color:#464927;vertical-align:top;"><div style="overflow-x:hidden;overflow-y:auto;height:670px;">{{ content }}</div></td>
            </tr>
          </table>
        </div>

        <div class="flex-right" style="flex-basis: 200px;">
          <table style="height:100%;width:100%;margin-right:auto;margin-left:auto;">
            <tr height="1%">
              <td style="color:white;background-color:#545e2d;">Artwork</td>
            </tr>
            <tr style="vertical-align:top;">
              <td style="color:white;background-color:#616e32;">

                <div style="display:flex;justify-content:center;">
                  <div class="artwork" id="img4"><img src="/images/drawings/small_pink_flower.png" width="190px"></div>
                  <div class="artwork" id="img3"><img src="/images/drawing_thumbnails/large_pink_flower.png" width="190px"></div>
                  <div class="artwork" id="img2"><img src="/images/drawing_thumbnails/turing_mspaint.png" width="190px"></div>
                  <div class="artwork" id="img1"><img src="/images/drawing_thumbnails/bird_mspaint.png" width="190px"></div>
                </div>

                <div style="display:flex;justify-content:right;"><a href="/drawings.html" id="seeMoreArt"><u>S</u>ee more</a></div>
              </td>
            </tr>
            <tr height="1%">
              <td style="color:white;background-color:#545e2d;">Graphics</td>
            </tr>
            <tr style="vertical-align:top;">
              <td style="color:white;background-color:#616e32;">
                <a href="/stampcode.txt" target="_blank"><img src="/images/frames/stamp1_d.png" id="stampDark" width="88px" height="31px"></a> <a href="/stampcode.txt" target="_blank"><img src="/images/frames/stamp1_l.png" id="stampLight" width="88px" height="31px"></a>
                <br>Link back ?
              </td>
            </tr>
            <tr height="1%">
              <td style="color:white;background-color:#545e2d;">Guestbook</td>
            </tr>
            <tr style="height:100%;vertical-align:top;">
              <td style="color:white;background-color:#616e32;"><a href="https://abacist.123guestbook.com"><u>L</u>eave a message ?</a></td>
            </tr>
          </table>
        </div>
      </div>
    </td></tr>

    <tr>
      <td colspan="3" height="5%" style="text-align:center;vertical-align:bottom;" id="bottomText">project c190 © 2022-2023</td>
    </tr>
  </table>
</body>

</html>